[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "ext_py_binding_lib/pybind11"]
	path = ext_py_binding_lib/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
